root = true

[*]

charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true

[*.{cjs,js,json,json5,jsonc,jsonl,mjs,ts,yml}]

trim_trailing_whitespace = true

[.*rc]

trim_trailing_whitespace = true

[*.md]

trim_trailing_whitespace = false
