# Dependencies directory

node_modules/*

# Compiled output directory

dist/*

# Test directory

coverage/*

# Documentation

docs/.vitepress/dist
docs/.vitepress/cache


# Text editor directory and files • Visual Studio Code

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
